* {
    margin: 0px;
    padding: 0px    ;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
}

.header h2 {
    color: #fff;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 20px 0px;   
}

.background {
    background-color: #333;
    background-size: 100% 100%;
    padding: 0px 0px 80px 0px;
    
}

.background h1 {
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 70px 55px 20px 55px;
}

.card {
    background-color: #c5c6d0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin: 0px;
    padding: 20px;
    width: 250px;
    height: 340px;
    text-align: center;
    
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Contact-Education {
    color: #fff;
    padding: 50px;

    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.Skills {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.Skill-Items {
    display: flex;
    justify-content: space-around;
}

.Contact-Education h2 {
    margin-bottom: 20px;
}

.Contact-Education ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Contact-Education li {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
}

.About {
    padding: 50px;
    padding-bottom: 70px;
    font-size: 30px;
}

.About h2 {
    display: flex;
    justify-content: center;
}

.Button{
    text-decoration: none;
    color: #333;
}

.OK_Info {
    display: flex;
    justify-content: space-evenly;
}

.TikTok {
    padding-top: 30px;
    width: 300px;
}

.TikTok h1 {
    width: 300px;
}

.TikTok a {
    display: flex;
    text-decoration: none;
    color: #333;
    padding-top: 20px;
}

.TikTok img {
    height: 50px;
    padding: 11px;
}